.button {
  border: none;
  text-wrap: nowrap;
  border-radius: 6px;
  box-shadow: none;
  transition:
    box-shadow 0.2s ease,
    background-color 0.1s ease;
  font-weight: 600;

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 14px 30px 0px rgba(0, 0, 0, 0.25);
  }

  &:active {
    transform: translateY(1px);
    box-shadow: none;
  }

  &.black {
    background-color: black;
    outline: 2px solid black;
    color: white;

    &:hover {
      background-color: #1a1a1a;
    }
    &:active {
      background-color: #4d4d4d;
    }
  }

  &.outlined.red {
    outline: 2px solid #d32f2f;
    color: #d32f2f;
    background-color: white;

    &:hover {
      background-color: #ffe5e5;
    }
    &:active {
      background-color: #ef9a9a;
    }
  }

  &.outlined.black {
    outline: 2px solid black;
    color: black;
    background-color: white;

    &:hover {
      background-color: #f5f5f5;
    }
    &:active {
      background-color: #e0e0e0;
    }
  }

  &.outlined.lightblue {
    outline: 2px solid #90d5ff;
    color: #90d5ff;
    background-color: white;

    &:hover {
      background-color: #f5f5f5;
    }
    &:active {
      background-color: #e0e0e0;
    }
  }

  &.medium {
    padding: 10px 24px;
  }
  &.small {
    padding: 4px 14px;
  }
}

.icon-button {
  border: none;
  cursor: pointer;
  border-radius: 99%;

  &.small {
    width: 24px;
    height: 24px;
  }

  &.white {
    background-color: white;

    &:hover {
      background-color: #f5f5f5;
    }
    &:active {
      background-color: #e0e0e0;
    }
  }
}

.select-option-wrapper {
  border-top: 1px solid #e0e0e0;

  &:first-of-type {
    border: none;
  }

  &:hover {
    border-color: #f5f5f5;
    border-radius: 8px;

    & + .select-option-wrapper {
      border-color: white;
    }
  }

  .select-option {
    cursor: pointer;
    background-color: white;
    padding: 12px;
    border: none;
    display: block;
    width: 100%;
    background-color: white;
    text-align: left;
    border-radius: 8px;

    &:hover {
      background-color: #f5f5f5;
    }
    &:active {
      background-color: #e0e0e0;
    }

    &.selected {
      background-color: #e3f2fd;
      cursor: auto;
    }
  }
}
