.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;

  .column-title {
    font-weight: 600;
  }

  .user-list-item {
    padding: 10px 0px;
  }

  .action-cell {
    width: fit-content;
    margin-left: auto;
  }

  .user-list-row {
    cursor: pointer;
    border-top: 1px solid #e0e0e0;
    background-color: white;

    &:hover {
      background-color: #f5f5f5;
      border-color: white;

      & + .user-list-row {
        border-color: white;
      }
    }

    &:active {
      background-color: #e0e0e0;
    }

    &:first-of-type {
      border: none;
    }
  }
}
