.user-icon-wrapper {
  .user-icon-background {
    background-color: #f2d04a;
    border-radius: 99%;
    cursor: pointer;
    width: 48px;
    height: 48px;
    position: relative;
    overflow: hidden;

    .user-icon {
      width: 36px;
      height: 36px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
